[Desktop Entry]
Version=1.0
Type=Application
Name=Wallpaper Picker
Name[zh_CN]=壁纸设置
GenericName=Wallpaper
GenericName[zh_CN]=壁纸
Comment=Search, download, and switch desktop wallpapers
Comment[zh_CN]=搜索并切换桌面壁纸
Exec=arch-wallpaper
Icon=preferences-desktop-wallpaper
Terminal=false
Categories=Settings;DesktopSettings;
Keywords=wallpaper;background;bizhi;bz;wallhaven;
Keywords[zh_CN]=壁纸;桌面背景;bz;bizhi;
