[Desktop Entry]
Version=1.0
Type=Application
Name=Theme Switcher
Name[zh_CN]=主题设置
GenericName=Theme
GenericName[zh_CN]=主题
Comment=Switch desktop semantic color theme
Comment[zh_CN]=切换桌面主题配色
Exec=arch-theme
Icon=preferences-desktop-theme
Terminal=false
Categories=Settings;DesktopSettings;
Keywords=theme;color;pifu;zhuti;zt;
Keywords[zh_CN]=主题;配色;皮肤;zt;zhuti;pifu;
