[Desktop Entry]
Type=Application
Name=Record & Stream Menu
Name[zh_CN]=录屏与直播菜单
Comment=Interactive screen recording and livestreaming menu
Comment[zh_CN]=交互式录屏与直播推流控制菜单
Exec=arch-rec-menu
Icon=media-record
Terminal=false
Categories=AudioVideo;Recorder;
