[Desktop Entry]
Type=Application
Name=Screen Recorder
Name[zh_CN]=录屏
Comment=Record screen with wf-recorder
Comment[zh_CN]=使用 wf-recorder 录制屏幕
Icon=media-record
Exec=ui-screenrecord
Terminal=false
Categories=Utility;AudioVideo;
Keywords=record;screen;video;wf-recorder;
Keywords[zh_CN]=录屏;录制;视频;屏幕;lp;
