[Desktop Entry]
Version=1.0
Type=Application
Name=Wallpaper Switcher
Name[zh_CN]=壁纸设置
Comment=Change wallpaper from local files or Bing daily wallpaper
Comment[zh_CN]=从本地文件或必应每日壁纸切换壁纸
Exec=sh -c "$HOME/.local/bin/ui-wallpaper"
Icon=preferences-desktop-wallpaper
Terminal=false
Categories=Settings;DesktopSettings;
Keywords=wallpaper;background;bing;
Keywords[zh_CN]=壁纸;背景;必应;bz;
