[Desktop Entry]
Comment=Wps Office Config Tool
Comment[zh_CN]=WPS 办公小助手
Exec=env QT_IM_MODULE=fcitx /usr/bin/wps /wpstool %f
GenericName=WPS Office Assistant
GenericName[zh_CN]=WPS 办公小助手
Name=WPS Office Assistant
Name[zh_CN]=WPS 办公小助手
StartupNotify=false
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Icon=wps-office2023-officeassistant
InitialPreference=3
StartupWMClass=officeassistant
Categories=Office;
