[Desktop Entry]
Type=Application
Name=Power Menu
Name[zh_CN]=电源菜单
Comment=Interactive session power management menu
Comment[zh_CN]=交互式电源管理与会话控制菜单
Exec=x-power
Icon=system-shutdown
Terminal=false
Categories=System;
