{
  "bitrate": 4000,
  "audio_bitrate": 160,
  "platforms": [
    {
      "enabled": true,
      "name": "bilibili",
      "server": "rtmp://live-push.bilivideo.com/live-bvc",
      "key": "YOUR_STREAM_KEY",
      "aspect_ratio": "16:9"
    },
    {
      "enabled": false,
      "name": "xiaohongshu",
      "server": "rtmp://live-push.xhscdn.com/live",
      "key": "YOUR_STREAM_KEY",
      "aspect_ratio": "16:9"
    },
    {
      "enabled": false,
      "name": "local",
      "server": "srt://127.0.0.1:9999?mode=caller&latency=200&tlpktdrop=1&connect_timeout=2000&pkt_size=1316",
      "key": "",
      "aspect_ratio": "9:16"
    }
  ]
}
