[Desktop Entry]
Version=1.0
Type=Application
Name=Clipboard Manager
Name[zh_CN]=剪贴板
Comment=Manage clipboard history with fuzzel
Comment[zh_CN]=剪贴板
Exec=sh -c "$HOME/.local/bin/ui-clipboard"
Icon=$HOME/.local/share/applications/icons/ui-clipboard.png
Terminal=false
Categories=Utility;System;
Keywords=clipboard;history;paste;
Keywords[zh_CN]=剪贴板;历史;粘贴;jtb;
