[Desktop Entry]
Version=1.0
Type=Application
Name=Font Switcher
Name[zh_CN]=字体设置
Comment=Switch between Nerd Fonts with fuzzel
Comment[zh_CN]=字体设置
Exec=sh -c "$HOME/.local/bin/ui-font"
Icon=$HOME/.local/share/applications/icons/ui-font.png
Terminal=false
Categories=Settings;DesktopSettings;
Keywords=font;nerd font;typeface;
Keywords[zh_CN]=字体;Nerd Font;字型;zt;
